*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
body{
    font-family: 'Raleway', sans-serif;
}
section{
    width: 100%;
    float:left;
    font-family:Calibri,sans-serif;
}
.container{
    width: 1300px;
    margin: auto;
}
.img-fluid{
    max-width: 100%;
}
.logo {
    float: left;
    width:50%;
}
.contact-info{
    float:left;
    width: 50%;
    text-align: right;
}
.header-part{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    float: left;
    width: 100%;
   }
.logo img{
    width: 234px;
    padding: 5px 0 4px;
}
.contact-info ul li{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.contact-info ul li img{
    width: 22px;
    float: left;
    margin-right: 6px;
}
.banner-part{
    background-image: url("../images/bannerpart.jpg");   
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    background-repeat: no-repeat;
}
.banner-part1{
    float:left;
    width: 60%;
    font-size: 24px;
}
.banner-part2{
    float: left;
    width: 33%;
    margin-left: 7%;
}
.banner-part1 h1{
  
    margin-bottom: 20px;
}
.form{
    background-color:rgba(0,0,0,0.5) ;
        
    border-radius: 5px;
}
.banner-part1 p{
   
    margin-bottom: 20px;
    margin-top: 20px;
}
.banner-part1 h3{
    margin-bottom: 20px;
}
.banner-part1 ul li{
    margin-left: 40px;
    margin-bottom: 10px;
}
.btn-style{
    background: #f5233e;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #f5233e;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}
.form h3{
    font-size: 30px;
    color: white;
    margin-bottom: 13px
}
.form-control{
    width: 97%;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.form label{
    color: white;
    font-size: 18px;
 }
 .course-info{
     float: left;
     width: 100%;
 }
 .course-info1{
     float: left;
     width: 23.5%;
     box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%);
    padding:18px 25px;
    margin-right: 1.5%;
 }
 .icon{
    float: left;
    width: 15%;
   
 }
 .icon img{
    width: 50px;
 }
 .content{
     float: left;
     width:70%;
     text-align: center;
     font-size: 17px;
 }
 .course-info2{
    float: left;
    width: 23.5%;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%);
   padding:18px 25px;
   margin-right: 1.5%;
 }
 .course-info3{
    float: left;
    width: 23.5%;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%);
   padding:18px 25px;
   margin-right: 1.5%;
 }
 .course-info4{
    float: left;
    width: 23.5%;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%);
   padding:18px 25px;
   margin-right: 1.5%;
 }
 .mr-0{
     margin-right: 0 !important;
 }
.web-design{
    float: left;
    width: 100%;
    padding-top: 50px;
    
}
.web-design1{
    width: 100%;
    float: left;
    text-align: center;
    padding: 0px 92px 0px;
}
.web-design1 h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.web-design1 p{
    font-size: 18px;
}
.web-design2{
    float: left;
    width: 25%;
    padding-left: 50px;
}
.web-box{
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
    margin-top: 100px;
    padding: 25px 9px;    
    text-align: center;
 height: 200px;

}
.web-box img{
    padding: 0px 5px; 
    width: 35%;
}
.web-box h4{
    margin-bottom: 10px;
    font-size: 16px;
}
.web-box p{
    font-size: 16px;
}
.orangeborder{
    border-top:3px solid orange;
}
.greenborder{
    border-top:3px solid green;
}
.redborder{
    border-top:3px solid red;
}
.blueborder{
    border-top:3px solid #6fd1f9;
}
.dblueborder{
    border-top:3px solid #2378f3;
}
.dyellowborder{
    border-top:3px solid #fe711d;
}
.lblueborder{
    border-top:3px solid #1cb4c2;
}
.yellowborder{
    border-top:3px solid #fea202;
}
.web-design3{
    float: left;
    width: 100%;
    margin-top: 50px;
    padding: 0px 120px;
    font-size: 18px;
}
.a2nacdemy{
    float: left;
    padding: 70px 0;
    width: 100%;
    background-image: url("../images/banner2.jpg");
    background-position: right bottom;
    color:white;
    text-align: left;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.a2nacdemy h5{
    font-size: 34px;
    margin-bottom: 15px;
}
.a2nacdemy h6{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}
.a2nacdemy p{
    margin-bottom: 30px;
}
.a2nacdemy h5 span{
    font-size: 14px;
}
.btn-style-white{
    background: #fff;
    padding: 10px 30px;
    color: #10100f;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 18px;
    }
    .benifits{
        padding-bottom: 50px;
        padding-top: 50px;
        float: left;
        width: 100%;
    }
    .benifits1{
        float: left;
        width: 60%;
    }
    .benifits1 h2{
        font-size: 27px;
        margin-bottom: 20px;
    }
    .benifits1 ul li {
        margin-bottom: 10px;
        font-size: 18px;
        margin-left: 30px;
        
    }
    .benifits2{
        float: left;
        width: 40%;
        box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
    }
    .career{
        float: left;
        width: 100%;
        padding: 40px 0px 50px;
        background: #f5f5f5;
    }
    .career1{
        float: left;
        text-align: center;
    }
    .career1 h4{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .career1 p{
        padding: 0px 170px;
        font-size: 16px
    }
    .career2{
        float: left;
        width: 100%;
        margin-top: 50px;
    }
    .career-box{
        float: left;
        width: 14.66%;
        box-shadow: 1px 2px 6px rgb(0 0 0 / 25%);
        margin-right: 2%;
    }
    .career-box img{
    width: 100%;
    background: #fff;
    padding: 10px;
    }
    .feedback{
        float: left;
        width: 100%;
        padding-bottom: 50px;
    }
    .feedback1{
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }
    .feedback1 p{
        margin-top: 30px;
        font-size: 16px;
        padding: 0 75px;
    }
    .feedback2{
        margin-top: 50px;
        width:100%;
        float: left;
    }
    .feedback-box{
    float: left;
    padding: 30px;
    border: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 23%;
    box-shadow: 1px 2px 6px rgb(154 154 154 / 25%);
    margin-right: 2%;
    height: 250px;
    }
    .feedback-box p{
        margin-top: 20px;
    }
    .feedback-box h4{
        text-align: right;
        margin-top: 20px;
    }
    .partner{
    padding: 35px 0;
    background: #f5f5f5;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
}
.partner p{
    font-size: 16px;
    padding: 30px 0;
}
